
.field-input {
  width: 100%;
  display: block;
  padding: $input-ptb $input-pl;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
  border: $input-bw solid $border-color;
  border-radius: $input-br;
  box-sizing: border-box;
  resize: none;
  background: $field-background-color;
  text-overflow: ellipsis;

  &::placeholder {
    color: $border-color;
  }

  &:focus {
    border-color: $border-focus-color;
    outline: none;

    &::placeholder {
      color: $border-focus-color;
    }
  }

  &:disabled {
    background: $field-background-disabled-color;
  }
}

textarea.field-input {
  overflow-y: hidden;
}
