.field-dropdown {
  display: none;
  position: absolute;
  width: calc(100% - #{$input-bw * 2});
  top: $field-height - $input-bw;
  border: $input-bw solid $border-focus-color;
  border-top-color: $border-color;
  border-radius: 0 0 $input-br $input-br;
  overflow: hidden;

  button {
    display: block;
    text-align: left;
    line-height: $line-height;
    padding: $dropdown-item-ptb $input-pl;
    width: 100%;
    background: $field-background-color;
    border: 0 none;
    border-top: $input-bw solid $border-color;
    color: $font-color;
    font-size: $font-size;
    cursor: pointer;
    white-space: nowrap;
    //
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      border-top: 0 none;
    }

    &:focus {
      outline: none;
    }

    &.active {
      background: $hover-color;
    }
  }

  .has-focus & {
    display: block;
  }

  .ps {
    max-height: $dropdown-max-height;
    position: relative
  }
}

ctrl-select {
  .has-focus & {
    &.has-dropdown .field-input {
      border-radius: $input-br $input-br 0 0;
    }

    .corner {
      transform: rotate(180deg);
    }
  }

  .field-wrap & {
    .field-input {
      padding-right: $suffix-width + $suffix-right - $input-bw;

      .has-focus & {
        border-color: $border-focus-color;
      }
    }

    .has-value & .field-input:not(:disabled) {
      padding-right: $suffix-width * 2 + $suffix-right - $input-bw;
    }
  }

  .field-suffix.clear {
    display: none;

    .has-value &:not(:disabled) {
      display: block;
    }
  }
}
