.field-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  top: $field-height - $input-bw;

  > * {
    display: block;
    height: $dropdown-item-height;
    text-align: left;
    line-height: $line-height;
    padding: $dropdown-item-ptb $input-pl;
    width: 100%;
    background: #fff;
    border: $input-bw solid $border-focus-color;
    border-top-color: $border-color;
    color: $font-color;
    font-size: $font-size;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:focus {
      outline: none;
    }

    &:hover, &.focused {
      background: $hover-color;
    }

    &:last-child {
      border-radius: 0 0 $input-br $input-br;
    }

    + * {
      margin-top: -$input-bw;
    }
  }

  .has-focus & {
    display: block;
  }
}

.has-focus ctrl-select {
  &.has-dropdown .field-input {
    border-radius: $input-br $input-br 0 0;
  }
  .corner {
    transform: rotate(180deg);
  }
}

.field-wrap ctrl-select {
  .field-input {
    padding-right: $suffix-width + $suffix-right - $input-bw;

    .has-focus & {
      border-color: $border-focus-color;
    }
  }

  &.allow-clear .field-input {
    padding-right: $suffix-width * 2 + $suffix-right - $input-bw;
  }
}

ctrl-select.allow-clear .field-suffix.clear {
  display: none;

  .has-value & {
    display: block;
  }
}
