$field-mb: 25px;
$field-height: 50px;

$font-size: 14px;
$line-height: 16px;
$font-size-small: 12px;
$line-height-small: 14px;

$input-bw: 1px;
$input-br: 4px;
$input-pl: 8px;
$input-ptb: ($field-height - $line-height) / 2 - $input-bw;
$input-pt: $input-ptb + $font-size-small / 2;
$input-pb: $field-height - $input-pt - $line-height - $input-bw * 2;

$hint-mt: $line-height-small - $font-size-small - $field-mb;
$hint-mb: -$hint-mt - $line-height-small;

$font-color: #000;
$border-color: #999;
$border-focus-color: #666;
$hint-color: #999;
$warning-color: #ff8c00;
$error-color: #ff4500;
$success-color: #32cd32;
$hover-color: #f5f5f5;
$field-background-color: #fff;
$field-background-disabled-color: #f5f5f5;

$suffix-height: 24px;
$suffix-width: $suffix-height;
$suffix-top: ($field-height - $suffix-height) / 2;
$suffix-right: $input-pl + $input-bw;

$dropdown-item-height: 38px;
$dropdown-item-ptb: ($dropdown-item-height - $line-height) / 2 - $input-bw;
$dropdown-max: 6;
$dropdown-max-height: ($dropdown-item-height - $input-bw) * $dropdown-max - $input-bw;

$toast-width: 20rem;
$toast-spacer: .75rem;
$toast-background-color: #fff;
$toast-border-radius: 4px;
$toast-box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
